
.vs/ProjectEvaluation/rectangles.metadata.v7.bin
.vs/ProjectEvaluation/rectangles.projects.v7.bin
.vs/Rectangles/FileContentIndex/180cbdff-f11d-49c1-a321-64c7585acf90.vsidx
.vs/Rectangles/FileContentIndex/6c1cbf49-5176-4b75-824b-54eb9e654233.vsidx
.vs/Rectangles/FileContentIndex/99a929c0-7130-44e2-9bb4-388b2f0eb3b6.vsidx
.vs/Rectangles/FileContentIndex/9b1ddebc-805b-421d-9928-f31d5ff4fd73.vsidx
.vs/Rectangles/FileContentIndex/f3348bab-de26-4581-b414-4375c9de665f.vsidx
.vs/Rectangles/DesignTimeBuild/.dtbcache.v2
.vs/Rectangles/FileContentIndex/f3348bab-de26-4581-b414-4375c9de665f.vsidx
.vs/Rectangles/FileContentIndex/f3348bab-de26-4581-b414-4375c9de665f.vsidx
.vs/Rectangles/v17/.suo
